useDynLib(gmeta)

importFrom("graphics", "abline", "legend", "lines", "plot", "points")
importFrom("stats", "quantile", "approx", "dbeta", "dbinom", "dnorm", "ecdf", "median", "optim", "pbeta", "pchisq", "pnorm", "qnorm", "rbinom", "rexp", "runif", "uniroot", "var")

import(BiasedUrn)
import(binom)

# functions in gmeta
export(gmeta, gmeta.default)
#export(gmeta.p)
#export(gmeta.m)
#export(gmeta.e)
# print and summary
export(print.gmeta.p)
export(summary.gmeta.p)
export(print.summary.gmeta.p)
export(print.gmeta.m)
export(summary.gmeta.m)
export(print.summary.gmeta.m)
export(print.gmeta.e)
export(summary.gmeta.e)
export(print.summary.gmeta.e)
# plot
export(plot.gmeta.m)
export(plot.gmeta.e)
#export(gmeta.plot.cdd)
#export(gmeta.plot.cvs)
#export(gmeta.plot.cdf)
# functions in meta.np
export(np.gmeta)

S3method(gmeta, default)
S3method(plot, gmeta.e) 
S3method(plot, gmeta.m) 
S3method(print, gmeta.e) 
S3method(print, gmeta.m)
S3method(print, gmeta.p) 
S3method(print, summary.gmeta.e) 
S3method(print, summary.gmeta.m)
S3method(print, summary.gmeta.p) 
S3method(summary, gmeta.e) 
S3method(summary, gmeta.m) 
S3method(summary, gmeta.p)

